<footer class="footer">
  <div class="container">
    <div class="logo">
      <a href="#">
        <img src="/images/logo.png" alt="Logo">
      </a>
    </div>
    <div class="rights">Все права защищены, 2020</div>
    <div class="social">
      <a [href]="linkToInstagram" target="_blank">
        <div class="social-image">
          <img src="/images/social-image.png" alt="Instagram icon">
        </div>
        <div class="social-text">
          Мы в Instagram
        </div>
      </a>
    </div>
    <div class="phone">
      <a href="#">{{phoneNumber}}</a>
    </div>
  </div>
</footer>
