<script src="app.component.ts"></script>
<section class="main">
  <div class="container">
    <header class="header">
      <div class="logo">
        <a href="#">
          <img src="/images/logo.png" alt="Logo">
        </a>
      </div>
      <button class="burger" id="burger">
        <img src="/images/burger.png" alt="Burger menu">
      </button>
      <nav class="menu" id="menu">
        <button class="close">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872
                                        c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872
                                        c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052
                                        L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116
                                        c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952
                                        c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116
                                        c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"/>
                                </g>
                            </g>
                        </svg>
        </button>
        <ul>
          <li>
            <a href="#" (click)="scrollTo(productsElement)">Пироженки</a>
          </li>
          <li>
            <a href="#" (click)="scrollTo(advantagesElement)">О нас</a>
          </li>
          <li>
            <a href="#" (click)="scrollTo(orderElement)">Оформить заказ</a>
          </li>
        </ul>
      </nav>
      <div class="phone">
        <a href="#">{{phoneNumber}}</a>
      </div>
    </header>
    <div class="main-intro">
      <h1 class="main-title">
        Мягкие французские пироженки Macaroons
      </h1>
      <p class="main-info-text">
        Побалуйте себя и своих близких самыми вкусными
        и ароматными домашними пироженками Macaroon!
      </p>
      <div class="main-action">
        <button class="btn main-btn" (click)="scrollTo(productsElement)">Выбрать макарун</button>
      </div>
      <div class="main-image">
        <div class="main-image-effect-1"></div>
        <div class="main-image-effect-2"></div>
        <img src="/images/main-image.png" alt="Box with macaroons">
      </div>
    </div>
  </div>
</section>

<section class="advantages" #advantagesElement>
  <div class="container">
    <div class="advantages-main">
      <h2 class="advantages-title">
        Мы печём для вас вкуснейшие макаруны
        уже более 10 лет
      </h2>
      <p class="advantages-text">
        Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
        ароматизаторов,
        красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей, маргарина, разрыхлителей и
        улучшителей муки.
      </p>
      <div class="advantages-image">
        <img src="/images/advantages-image.png" alt="Big macaroon">
      </div>
    </div>
    <div class="advantages-description">
      <div class="advantage" *ngFor="let advantage of advantages; let i = index;">
        <div class="advantage-number">
          <div class="number">{{i+1}}</div>
        </div>
        <h3 class="advantage-title">{{advantage.title}}</h3>
        <p class="advantage-text">{{advantage.description}}</p>
      </div>
    </div>
  </div>
</section>

<section class="products" #productsElement>
  <div class="container">
    <h2 class="products-title">Выберите свой макарун</h2>
    <div class="products-cards">
      <div class="product" *ngFor="let product of products; let i = index;">
        <div class="product-image">
          <img src="/images/{{product.image}}" alt="Macaroon {{i+1}}">
        </div>
        <div class="product-info">
          <h3 class="product-title">{{product.title}}</h3>
          <div class="product-extra">
            <div class="product-extra-info">
              <div class="product-quantity">{{product.quantity}}</div>
              <div class="product-price">{{product.price}}</div>
            </div>
            <div class="product-extra-action">
              <button class="btn product-btn" (click)="addToCart(product, orderElement)">Заказать</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="order" #orderElement>
  <div class="container">
    <div class="order-image">
      <img src="/images/order-image.png" alt="Macaroons">
    </div>
    <div class="order-info">
      <h2 class="order-title">
        Закажите макарун!
      </h2>
      <p class="order-text">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </p>
      <div class="order-form">
        <h3 class="order-input-title">
          Ваш выбор
        </h3>
        <input class="order-input" type="text" placeholder="Выберите макарун" [(ngModel)]="formValues.productTitle">
        <h3 class="order-input-title">
          Заполните данные для заказа
        </h3>
        <input class="order-input" type="text" placeholder="Ваше имя" [(ngModel)]="formValues.name">
        <input class="order-input" type="tel" placeholder="+375 (__) ___ - __ - __"
               pattern="^\+375[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}$" [(ngModel)]="formValues.phone">
        <button class="btn order-btn" (click)="createOrder()">Оформить заказ</button>
<!--        <input type="submit" class="btn order-btn" Оформить заказ>-->
      </div>
    </div>
    <div class="strawberry-1">
      <img src="/images/strawberry-1.png" alt="Strawberry">
    </div>
    <div class="strawberry-2">
      <img src="/images/strawberry-2.png" alt="Strawberry">
    </div>
  </div>
</section>

<footer-component></footer-component>

<div class="gift" *ngIf="showPresent">
  <div class="gift-message">
    Оформите заказ
    и получите подарок!
  </div>
  <button class="gift-btn">
    <img src="/images/present.png" alt="Present">
  </button>
</div>
